.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #bcd1fe;
    align-items: center;
    border-bottom: 4px;
    position: sticky;
    top: 0;
    z-index: 999;
    opacity: 90%;
}
.navbar > h2 ,.navbar-button{
    background-color: #bcd1fe;
    padding: 10px;
    cursor: pointer;
}
.navbar-button{
    outline: none;
    border: none;
    font-size: large;
    margin-right: 5px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    background-color:#e6e6e6 ;
}

@media all and (max-width: 425px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30px;
        background-color: #bcd1fe;
        align-items: center;
        border-bottom: 4px;
        position: sticky;
        top: 0;
        z-index: 999;
        opacity: 90%;
    }
    .navbar > h2, .navbar-button {
        font-size: 17px;
        background-color: #bcd1fe;
        padding: 5px;
        cursor: pointer;
    }
    .navbar-button {
        outline: none;
        border: none;
        font-size: x-small;
        margin-right: 5px;
        height: 22px;
        border-radius: 4px;
        cursor: pointer;
        background-color: #e6e6e6;
    }
   
}